.d3-tip {
    position: absolute;
    opacity: 0;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

#graph-container {
    padding-top: 7em;
}

.form-group {
    color: white;
}

#inputForm{
    font-size: .875rem
}
